/* /* font-family: 'Permanent Marker', cursive;
font-family: 'Merienda', cursive; */

/* body {
  background-color: #363237;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  width: 90%;
  height: 70%;
}

canvas {
  width: 100%;
  height: 70%;
  margin: 8% 8%;
  background-color: #2D4262;
  border: 1px solid rgb(35, 53, 79);
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 7px 6px rgb(14, 23, 34);  
  -moz-box-shadow:    3px 3px 7px 6px rgb(14, 23, 34);  
  box-shadow:         3px 3px 7px 6px rgb(14, 23, 34);
}

canvas {
  margin: 120px auto;
}

.content {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 90%;
  height: 70%;
}

.header {
  position: absolute;
  left: 25%;
  top: -5px;
  opacity: 0;
  font-family: 'Merienda', cursive;
}

.sub-header {
  position: absolute;
  top: 0;
  left: calc(50% - 170px);
  height: 100px;
  width: auto;
  display: none;
}

.start-button {
  position: absolute;
  margin: 400px calc(50% - 76px);
  z-index: 1;
  border-style: solid;
  border-color: black;
  background: none;
  font-family: 'Press Start 2P', cursive;
  padding: 10px 30px;
  color: black;
  font-size: 20px;
  text-shadow: 1px 1px white;
}

.start-button button {
  background-color: none;
}

#sound {
  position: absolute;
  height: 20px;
  width: auto;
  margin: 140px 82%;
}

.footer-links {
  z-index: 1;
  margin: -85px auto 0 auto;
  display: flex;
}

.footer-links i {
  height: 30px;
  width: auto;
}

.footer-links i:hover {
  height: 32px;
  width: auto;
}
 */

 body {
  background-color: #E8E9F3;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  position: relative;
  flex-direction: column;
}

.header {
  position: absolute;
  left: 375px;
  top: 200px;
  opacity: 0;
  font-family: 'Merienda', cursive;
}

.sub-header {
  position: absolute;
  top: 0;
  left: calc(50% - 171.5px);
  height: 100px;
  width: auto;
  display: none;
  font-family: 'Permanent Marker', cursive;
}

.start-button {
  position: absolute;
  margin: 400px calc(50% - 76px);
  z-index: 1;
  border-style: solid;
  border-color: black;
  background: none;
  font-family: 'Merienda', cursive;
  padding: 10px 30px;
  color: rgb(179, 179, 179);
  font-size: 20px;
  text-shadow: 1px 1px white;
}

.start-button button {
  background-color: none;
}


#sound {
  position: absolute;
  height: 20px;
  width: auto;
  margin: 160px 85%;
}

.canvas {
  margin: 120px auto;
  background-color: rgb(111, 93, 93);
}

.footer-links {
  z-index: 1;
  margin: -85px auto 0 auto;
  display: flex;
}

.footer-links i {
  height: 30px;
  width: auto;
}

.footer-links i:hover {
  height: 32px;
  width: auto;
}
